{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	|| Accueil
{% endblock %}

{% block body %}
 	<img class="img-home img-fluid z-n1 position-absolute" src=" {{ asset('build/images/rectangleRadient.png') }} " width="150%" alt="background-radient"> 
	<header class="pink-stripe">
		<div class="container-xl g-5">
			<button type="button" class="button text-uppercase p-3 btn col-btn-sm rounded-5 d-grid col-4 mx-auto m-5">
				<a class="text-dark text-decoration-none fs-3 fw-bolder" href="#">Devenir bénévole</a>
			</button>
			<div class="row row-cols-1 row-cols-md-2 m-5">
				<div class="col">
					<div class="bg-dark fw-bold text-light text-decoration-none fs-3 text-uppercase p-5 rounded-end-5 rounded-bottom-0 rounded-start-0">
						<div class="card-body">
							<h2 class="fw-bold text-light fs-2 text-uppercase">Faire du numérique une chance pour tous</h2>
							<img src=" {{ asset('build/images/circle.png') }} " class="imgcircle mt-4">
						</div>
					</div>
				</div>
				<div class="col">
					<div class="bg-dark  p-5 rounded-end-0 rounded-bottom-5 rounded-start-0">
						<div class="card-body">
							<h2 class="fw-bold text-light fs-2 text-uppercase">Smartphones et ordinateurs portables : des besoins vitaux pour l’association</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main class="container">
		<div class="d-flex justify-content-center">
			<img class="imgtriplestars" src=" {{ asset('build/images/triplestarslight.png') }} " alt="background-radient">
		</div>
		<button type="button" class="button text-uppercase p-3 btn col-btn-sm rounded-5 d-grid col-4 mx-auto m-5">
			<a class="text-dark text-decoration-none fs-3 fw-bolder" href="#">VENDRE</a>
		</button>
		<div class="row row-cols-1 row-cols-md-3 g-4 m-5">
			{% for phone in phones %}
				<div class="col">
					<div class="card bg-dark rounded-end-0 rounded-bottom-5 rounded-start-0">
						<div class="card-body position relative">
							<h6 class="bg-light border border-dark border-4 rounded-4 text-uppercase fw-bolder p-2  text-dark position-absolute top-0 start-50 translate-middle">Top vente</h6>
							<div class="img d-flex justify-content-center">
								<img src=" {{phone.picture ? vich_uploader_asset(phone) : asset('build/images/iphoneImage.png') }}  " class="imgcard m-4 ">
							</div>
							<h3 class="text-dark fs-4 fw-bold text-center text-uppercase">{{ phone.model.name }}</h3>
							<h4 class="text-dark fs-5 fst-italic text-center text-uppercase ">{{ phone.model.color }}</h4>
							<button class="btn text-uppercase fs-2 btn col-btn-sm rounded-5 d-grid col-3 mx-auto m-3">{{ phone.price }}€</button>
							<button type="button" class="btn btn-dark text-uppercase p-2 btn col-btn-sm rounded-5 d-grid col-8 mx-auto m-2">
								<a class="text-light text-decoration-none fs-5 fw-bolder" href="{{ path('app_phone_one', {'phone': phone.id}) }}">VOIR PLUS</a>
							</button>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
