{% extends 'base_admin.html.twig' %}

{% block title %}Phone index{% endblock %}

{% block body %}
    <h1>Phone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsBlocked</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for phone in phones %}
            <tr>
                <td>{{ phone.id }}</td>
                <td>{{ phone.isBlocked ? 'Yes' : 'No' }}</td>
                <td>{{ phone.picture }}</td>
                <td>
                    <a href="{{ path('app_phone_show', {'id': phone.id}) }}">show</a>
                    <a href="{{ path('app_phone_edit', {'id': phone.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_phone_new') }}">Create new</a>
{% endblock %}
