{% extends 'base.html.twig' %}

{% block title %}Emmaüs Connect | Mon stock
{% endblock %}

{% block body %}

	<div class="sieste text-light mx-5 py-5">
		<h1>Mon stock</h1>
	</div>
	<section class="container justify-content-center">
		<div class="row mt-5 mx-5">
			{% for phone in phones %}
				<div class="col-4">
					<div class="card bg-light rounded-1 rounded-bottom-5 rounded-start-1 mb-5">
						<div class="card-body">
							<div class="img d-flex justify-content-center">
								<img src=" {{ asset('build/images/iphone.png') }} " class="imgcard m-4 ">
							</div>
                                <h3 class="text-dark fs-4 fw-bold text-uppercase text-center h-75">{{ phone.model.marque.name }}</h3>
                            <div class="card-text d-flex justify-content-center">

							    <h4 class="text-dark fs-5 fst-italic h-100px">
							    	{% if phone.isBlocked == true %}
							    		<li class="mt-2">Ce téléphone est bloqué</li>
							    	{% else %}
							    		<li class="mt-2">Ce téléphone est débloqué</li>
							    	{% endif %}
							    	{{ phone.isBlocked }}</h4>
                            </div>
							    <p class="text-dark fs-5 fw-bold text-uppercase text-end">{{ phone.picture }}</p>
							<button type="button" class="btn btn-dark text-uppercase p-2 btn col-btn-sm rounded-5 d-grid col-8 mx-auto m-2">
								<a class="text-light text-decoration-none fs-5 fw-bolder" href="#">Description</a>
							</button>
						</div>
					</div>
				</div>
			{% else %}
				<span>
					<td colspan="7">Pas de téléphone en stock</td>
				</span>
			{% endfor %}
		</div>
	</section>
	<a href="{{ path('app_phone_index') }}">retour à la liste</a>
{% endblock %}
