{% extends 'base.html.twig' %}

{% block title %}Emmaüs Connect | S'enregistrer{% endblock %}

{% block body %}
    <section class="container">
		<div class="card bg-light  bg-light rounded-1 rounded-bottom-5 rounded-start-1 m-5 p-5">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <h1 class="fw-bold d-flex mb-2 h3 py-2">S'enregister</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="mail my-4">
				<label class="form-label">Prénom</label>
				<div class="input-group w-75 w-md-50"></div>
				{{ form_widget(registrationForm.firstname) }}
			</div>
            <div class="mail my-4">
				<label class="form-label">Nom</label>
				<div class="input-group w-75 w-md-50"></div>
				{{ form_widget(registrationForm.name) }}
			</div>
            <div class="mail mb-4">
				<label class="form-label">Email</label>
				<div class="input-group w-75 w-md-50"></div>
				{{ form_widget(registrationForm.email) }}
			</div>
            <div class="mail my-4">
				<label class="form-label">Mot de passe</label>
				<div class="input-group w-75 w-md-50"></div>
				{{ form_widget(registrationForm.plainPassword) }}
			</div>
                <div class="d-flex justify-content-end">
				<button class="btn btn-dark text-uppercase p-2 mt-3 px-4 btn col-btn-sm rounded-5 d-grid">Valider</button>
			</div>
            {{ form_end(registrationForm) }}
        </div>
    </section>
{% endblock %}
