{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('phoneFormShow') }}
{% endblock %}

{% block title %}Un téléphone
{% endblock %}

{% block body %}
	<main class="container mt-4 pt-4 d-flex justify-content-center">
		<div class="myBlock mb-4 pb-4">
			<h1 class="text-center myhead">{{ phone.model.marque.name }}</h1>
			<div class="myLine"></div>
			<h2 class="text-center myhead mb-4 pb-4">{{ phone.model.name }}</h2>
			<div class="myGrid">
				<img src=" {{ asset('build/images/iphoneImage.png') }} " alt="image téléphone">
				<div class="d-flex justify-content-center justify-content-md-start">
					<ul class="mt-4 pt-4">
						<li class="mt-2">
							<span class="why">Série:
							</span>
							{{ phone.model.serial }}
						</li>
						<li class="mt-2">
							<span class="why">Couleur:
							</span>
							{{ phone.model.color }}
						</li>
						<li class="mt-2">
							<span class="why">RAM:
							</span>
							{{ phone.model.ram }}
						</li>
						<li class="mt-2">
							<span class="why">Taille:
							</span>
							{{ phone.model.size }} pouces
						</li>
						<li class="mt-2">
							<span class="why">Poids:
							</span>
							{{ phone.model.weight }} grammes
						</li>
						<li class="mt-2">
							<span class="why">Connection:
							</span>
							{{ phone.model.connection }}
						</li>
						<li class="mt-2">
							<span class="why">Mémoire:
							</span>
							{{ phone.model.memory }}
						</li>

						<li class="mt-2">
							<span class="why">État:</span>
							{{ phone.etat.name }}</li>
						{% if phone.isBlocked == true %}
							<li class="mt-2">Ce téléphone est bloqué</li>
						{% else %}
							<li class="mt-2">Ce téléphone est débloqué</li>
						{% endif %}
						<li class="d-flex justify-content-end"><button class="btn btn-primary p-2 px-4 mt-4">{{ phone.price }} €</button></li>
					</ul>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
