<nav class="navbar navbar-expand-lg bg-dark">
	<div class="container fluid">
		<button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand mx-3" href="{{ path('app_home')}}">
			<img class="logo-nav img-fluid d-none d-md-block" src=" {{ asset('build/images/Logo_EC_light.png') }} " alt="Logo Emmaüs Connect">
		</a>
		<ul class="navbar-nav order-md-2 ">
			<li class="dropdown ">
				<a class="nav-link dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					{% include 'icons/profil.svg' %}
				</a>
				<ul class="bg-light rounded-4 dropdown-menu">
					{% if app.user %}
						<li>
							<a class="dropdown-item text-decoration-none fs-5 fw-bold text-dark" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
					{% else %}
						<li>
							<a class="dropdown-item text-decoration-none fs-5 fw-bold text-dark" href="{{ path('app_login') }}">Connexion</a>
						</li>
						<li>
							<a class="dropdown-item text-decoration-none fs-5 fw-bold text-dark" href="{{ path('app_register') }}">S'inscrire</a>
						</li>
					{% endif %}
				</ul>
			</li>
		</ul>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				{% if is_granted("ROLE_ADMIN") %}
					<li class="nav-item">
						<a class="nav-link mx-3 fs-4 text-light" href="{{ path('home_admin') }}">Admin</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link mx-3 fs-4 text-light" href="{{ path('app_phone_form') }}">Ajouter un téléphone</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-3 fs-4 text-light" href="{{ path('app_phone_stock') }}">Mon stock</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
